<div className="snippet-body">
    

  
<div className="snippet-body">

</div>

<br>

<br>

<div class="row">


    <div class="col-4">
        <div class="card">
            <img src="https://w7.pngwing.com/pngs/828/929/png-transparent-vector-motorcycle-spares-concept-thumbnail.png"  alt=""
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="https://w7.pngwing.com/pngs/828/929/png-transparent-vector-motorcycle-spares-concept-thumbnail.png" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="https://w7.pngwing.com/pngs/828/929/png-transparent-vector-motorcycle-spares-concept-thumbnail.png" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>
</div>



<br><br>

