<div className="snippet-body">

</div>

<div class="row">


    <div class="col-4">
        <div class="card">
            <img src="https://gyazo.com/bb3bc3b12c5fa6cb0124758937f72c6d.gif" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="https://gyazo.com/e36caeec8ee4c764208162a43a3f1980.gif" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="https://gyazo.com/f59ea846ac0972361924bb694bb3b624.gif" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>
</div>



<br><br>

<div class="row">

    <div class="col-4">
        <div class="card">
            <img src="https://gyazo.com/f99f14c1c62062e4fc8e1b89409365b0.gif" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="https://gyazo.com/bb3bc3b12c5fa6cb0124758937f72c6d.gif" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="https://gyazo.com/681d69d4a382b3e0ebecfc76e96482f9.gif" alt="Gyazo"
                style="max-width: 200%; height: 300px;">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" style="margin-left: 4px; margin-right: 4px;"
                    class="btn btn-success btn-sm ">agregar al carro</button>
                <button type="button" class="btn btn-primary btn-sm m-r-5">Detalle</button>
            </div>
        </div>
    </div>