<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div class="logo-container">
            <h6 class="animated-text">Almacén de repuestos</h6>
            <img src="https://img.freepik.com/vector-gratis/motocicleta-aislado-sobre-fondo-blanco-estilo-monocromatico_1284-38724.jpg" alt="Logo Metin2" style="width: 50px; height: 50px;">
            <a class="navbar-brand" class="animado" routerLink="home" routerLinkActive="active">Home</a>

        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            <li class="nav-item">
                <label for=""><a class="animado" routerLink="categories" routerLinkActive="active">Categorias</a></label>
            </li>
            
            <li class="nav-item">
                <label for=""><a class="animado" routerLink="provider"
                        routerLinkActive="active">Proveedor</a></label>
            
            </li>
           <!--  <li class="nav-item">
                <label for=""><a class="animado" routerLink="" routerLinkActive="active">Iniciar
                        sesion</a></label>
            </li> -->
            <li class="nav-item">
                <label for=""><a class="animado" routerLink="client" routerLinkActive="active">Cliente</a></label>
            </li>
            
            <li class="nav-item">
                <label for=""><a class="animado" routerLink="brand" routerLinkActive="active">Marca</a></label>
            </li>
            


        </ul>
        <form class="d-flex" role="search">

            <button type="submit" class="btn btn-outline-success btncarro">

                <img class="imgcarro"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7vAMWfCMVmZO2nqKgWkkIY-4gFIgovWsAWA&usqp=CAU"
                    alt="Carrito de compras">
            </button>

        </form>
      </div>
    </div>
  </nav>

<script>
  $('.navbar-toggler').click(function () {
    $(this).attr('aria-expanded', function (i, attr) {
      return attr == 'true' ? 'false' : 'true';
    });
  });
</script>


<script>
    $('.navbar-toggler').click(function () {
      $(this).attr('aria-expanded', function (i, attr) {
        return attr == 'true' ? 'false' : 'true';
      });
    });
  </script>
  