


.imgcarro {
  border-radius: 50%;
  width: 70px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 20px;
}

.btncarro{
    border-radius: 50%;
    width: 120px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 20px;

}

a{

    text-decoration: none;
    color: white;

}


  /* Animate imagen */


  /* Define el contenedor de la imagen */
  .logo-container {
    position: relative;
  }

  /* Agrega un estilo a la imagen */
  .logo-container img {
    max-width: 100%;
  }

  /* Agrega el efecto de rayos */
  .logo-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
    box-shadow: 0 0 20px 20px #fff, 0 0 40px 40px #fff, 0 0 60px 60px #fff, 0 0 80px 80px #fff, 0 0 100px 100px #fff, 0 0 120px 120px #fff, 0 0 140px 140px #fff;
    opacity: 0.7;
  }



  .shopping-cart-container {
    position: relative;
    display: inline-block;
  }

 
  
  
  
  .item-count {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 6px 12px;
    font-size: 10px;
  }


  .specemenu{
    margin-left: 2rem;
  }
  
  
  



















 