

   <nav
   class="navbar sticky-top bg-dark navbar-expand-lg bg-body-tertiary"
   data-bs-theme="dark"
 >
   <div class="container-fluid">
     <a class="navbar-brand" href="#"><i class="fas fa-utensils"></i> Menú</a>
     <button
       class="navbar-toggler"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent"
       aria-expanded="false"
       aria-label="Toggle navigation"
     >
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item specemenu">
          <label for=""><a class="animado" routerLink="home" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            Home</a></label>
      </li>
      
          
        <li class="nav-item specemenu">
            <label for=""><a class="animado" routerLink="categories" routerLinkActive="active">
              <mat-icon>category</mat-icon>
              Categorias</a></label>
        </li>
        
        <li class="nav-item specemenu">
            <label for=""><a class="animado" routerLink="provider"
                    routerLinkActive="active">

                    <mat-icon> contact_mail</mat-icon>
                    Proveedor</a></label>
        
        </li>
      
        <li class="nav-item specemenu">
            <label for=""><a class="animado" routerLink="client" routerLinkActive="active">
              
              
              <mat-icon>person_pin</mat-icon>
              Cliente</a></label>
        </li>
        
        <li class="nav-item specemenu">
            <label for=""><a class="animado" routerLink="brand" routerLinkActive="active">
              <mat-icon>workspaces_filled</mat-icon>
              Marca</a></label>
        </li>


        <li class="nav-item specemenu">
          <label for=""><a class="animado" routerLink="motorcyclelist" routerLinkActive="active">
            <mat-icon>two_wheeler</mat-icon>
            Repuestos</a></label>
      </li>


        
        


    </ul>
 

       <a [routerLink]="'shoppingcart'">
        <form class="d-flex" role="search">
          


          <div style="margin-right: 1rem; margin-top: 1rem;" class="shopping-cart-container">
            <mat-icon class="big-icon">shopping_cart</mat-icon>
            <span class="item-count">{{ cartItemCount }}</span>
          </div>
          

         
        </form>
      </a>
     </div>
   </div>
   <!-- Navbar content -->
 </nav>
 
  
  