<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active animado"  aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link animado" routerLinkActive="active"  href="#">Trajes</a>
                </li>
                    

                <a class="nav-link animado" href="#">Armas</a>
                <a class="nav-link animado" href="#">Mapas</a>
               
            </ul>
            <form class="d-flex" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <label for=""><a class="animado" routerLink="login" routerLinkActive="active">Iniciar sesion</a></label>
                <label for=""><a class="animado" routerLink="profile" routerLinkActive="active">Profile</a></label>
                <label for=""><a class="animado" routerLink="signup" routerLinkActive="active">Signup</a></label>
                
            
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->

              

                <button type="submit"  class="btn btn-outline-success btncarro">

                    <img class="imgcarro" src="https://i.pinimg.com/originals/cf/d8/cd/cfd8cddd259b44090f6cdaa4b502c9ee.jpg"
                    alt="Carrito de compras">
                </button>


               








            </form>
        </div>
    </div>
</nav>