



<div class="formulario-container">

    <button type="button" class="btn btn-secondary float-end" (click)="cerrarFormularioedit()">Cerrar</button>

<h2>Formulario de editar Repuestos</h2>




     <div class="success-message" *ngIf="successMessage">{{successMessage }}</div> 


            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" formControlName="name" id="name" class="form-control">
                      </div>
                    </div>
                  
                    <div class="col-md-4 col-lg-4">
                     
                      <div class="form-group" *ngIf="categories">
                        <label for="category">Categoría:</label>
                        <select formControlName="category_id" id="category_id" class="form-control" >
                          <option value="">Selecciona una categoría</option>
                          <option *ngFor="let category of categories" [value]="category.id" [selected]="category.id === motorcyclepart.category_id">{{category.name}}</option>
                        </select>
                      </div>
                      
                    </div>
                  
                    <div class="col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="provider">Proveedor:</label>
                        <select formControlName="provider_id" id="provider_id" class="form-control">
                          <option value="">Selecciona un proveedor</option>
                          <option *ngFor="let provider of providers" [value]="provider.id">{{provider.name}}</option>
                        </select>
                      </div>
                    </div>

                  </div>
                  

                  <div class="row">

                    <div class="col-md-4 col-lg-4">

                <div class="form-group">
                    <label for="brand">Marca:</label>
                    <select formControlName="brand_id" id="brand_id" class="form-control">
                        <option value="">Selecciona una marca</option>
                        <option *ngFor="let marca of  marcas" [value]="marca.id">{{ marca.name }}</option>
                        <!-- Rellenar con opciones de marca -->
                    </select>
                </div>
                </div>
                <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="purchase_price">Precio de compra:</label>
                    <input type="number" formControlName="purchase_price" id="purchase_price" class="form-control">
                </div>
                </div>
                <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sale_price">Precio de venta:</label>
                    <input type="number" formControlName="sale_price" id="sale_price" class="form-control">
                </div>
                </div>

                </div>


                <div class="row">


                    <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" formControlName="quantity" id="quantity" class="form-control">
                </div>

               </div> 



                
               <div class="col-md-4 col-lg-4">
                <div class="form-group">

                    <label for="image">Imagen:</label>

                    <div id="image" class="form-control" class="header_img"
                        (click)="onFileSelected()">
                        <img [src]="imageSrc" alt="seleccione una imagen para el repuesto">
                    </div>

                    <!-- <div id="image"  class="form-control" class="header_img"
                        (click)="onFileSelected()">
                        <img [src]="'http://127.0.0.1:8000/storage/images/' + motorcyclepart.image" alt="{{ motorcyclepart.name }}" alt="seleccione una imagen para el repuesto">
                   </div> -->


                    <div *ngIf="form.get('image')!.invalid && (form.get('image')!.dirty || form.get('image')!.touched)"
                        class="alert alert-danger">
                        <div *ngIf="form.get('image')!.errors?.['required']">
                            La imagen es requerida
                        </div>

                        <div *ngIf="form.get('image')!.errors?.['accept']">
                            Solo se permiten imágenes
                        </div>

                        <div *ngIf="form.get('image')!.errors?.['pattern']">
                            La imagen debe tener una extensión válida: .png, .jpg, .jpeg, .gif
                        </div>
                    </div> 
                </div>
               </div>

                <div class="col-md-4 col-lg-4">

                <div class="form-group">
                    <label for="iva">IVA:</label>
                    <input type="number" formControlName="iva" id="iva" class="form-control">
                </div>

                </div>
               </div>
                <br>

                <button type="submit" class="btn btn-primary"  (click)="onEdit(motorcyclepart.id)" >Editar</button>
            </form>

      



</div>


