<div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
<div *ngIf="errorMsg" class="error danger-message">{{errorMsg}}</div>
<br>

<h1>Lista de Clientes</h1>

<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">


    <div class="row">


        <div class="col-md-12 col-lg-4">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>

                <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

                <div style="color: red;"
                    *ngIf="clientForm.controls['name'].invalid && ( clientForm.controls['name'].dirty || clientForm.controls['name'].touched)">

                    <div *ngIf=" clientForm.get('name')?.errors?.['required']">
                        El Nombre es requerido
                    </div>
                    <div style="color: red;" *ngIf="clientForm.get('name')?.errors?.['minlength']">

                        El nombre debe tener al menos {{ clientForm.get('name')?.errors?.['minlength']?.requiredLength }}
                        caracteres.
  
  
                      </div>
                </div>
            </div>

            <div  class="mb-3">
                <label for="exampleInputEmail1" class="form-label">email:</label>


                <input type="textarea" class="form-control" formControlName="email" id="exampleInputEmail1">


                <div
                    *ngIf="clientForm.controls['email'].invalid && ( clientForm.controls['email'].dirty || clientForm.controls['email'].touched)">

                    <div style="color: red;" *ngIf=" clientForm.get('email')?.errors?.['required']">
                        El email es requerido
                    </div>

                </div>
            </div>
        </div>





        <div class="col-md-12 col-lg-4">



            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">telefono</label>


                <input type="textarea" class="form-control" formControlName="tel" id="exampleInputEmail1">


                <div
                    *ngIf=" clientForm.controls['tel'].invalid && ( clientForm.controls['tel'].dirty || clientForm.controls['tel'].touched)">

                    <div style="color: red;" *ngIf=" clientForm.get('tel')?.errors?.['required']">
                        El telefono es requerido
                    </div>

                </div>
            </div>





            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">direccion</label>


                <input type="textarea" class="form-control" formControlName="address" id="exampleInputEmail1">


                <div
                    *ngIf=" clientForm.controls['address'].invalid && ( clientForm.controls['address'].dirty || clientForm.controls['address'].touched)">

                    <div  style="color: red;" *ngIf=" clientForm.get('address')?.errors?.['required']">
                        la direccion es requeaddress
                    </div>

                    <div style="color: red;" *ngIf="clientForm.get('address')?.errors?.['minlength']">

                        la direccion debe tener al menos {{ clientForm.get('address')?.errors?.['minlength']?.requiredLength }}
                        caracteres.
  
  
                      </div>

                </div>
            </div>

        </div>







        <div>

            <button type="submit" class="btn btn-primary" (click)="onCreate()">{{ isEdit ? 'Actualizar' : 'Crear' }}</button>
            <button style="margin-left: 10px;" type="button" class="btn btn-success"
                (click)="resetForm()">Resetear</button>


        </div>



    </div>



</form>


<br>


<div class="col-4">
    <div class="input-group ml-auto">
        <input type="text" class="form-control" placeholder="Buscar Cliente" [(ngModel)]="searchTerm"
            (input)="filterProviders()">
        <div class="input-group-append">


        </div>
    </div>
</div>






<table class="table">

    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">email</th>
            <th scope="col">Tel</th>
            <th scope="col">direccion</th>
        </tr>
    </thead>
    <tbody>

        <ng-container *ngIf="client.length > 0; else noProviders">

            <tr *ngFor="let client of filteredClient">
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.tel }}</td>
                <td>{{client.address }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-success btn-sm d-block mb-2 w-100" (click)="onEdit(client)">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm d-block w-100" (click)="onDelete(client.id)">Eliminar</button>
                  </td>
                  
            </tr>
            
                  
            

        </ng-container>

        <ng-template #noProviders>
            <tr>
                <td colspan="5" class="text-center">No hay Clientes disponibles.</td>
            </tr>
        </ng-template>

    </tbody>
</table>
