
@import '~typeface-roboto';


.container {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}



body {
  font-family: 'Roboto', sans-serif;
}

.my-element {
  font-family: 'Roboto', sans-serif;
}







